html, body {
  margin: 0;
}

body {
  height: 100vh;
  background-color: black;
  background-image: url(http://giant.gfycat.com/UnselfishLawfulGrison.gif);
  background-size: cover;
  background-position: center;
  font-family: 'Work Sans';
  text-align: center;
}

video, .video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 20;
}

video.main {
  opacity: .5;
}

video::-webkit-media-controls {
  display:none !important;
}

#name {
  position: absolute;
  color: white;
  z-index: 60;
  font-family: 'montserrat';
  font-weight: bolder;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  bottom: 50px;
  font-size: 80px;
  left: 100px;
  letter-spacing: -6px;
  line-height: 74px;
  text-shadow: 2px 2px #A30C25, 4px 4px #0076AB, 6px 6px #EAA300, 8px 8px #77AF2B, 10px 10px #150E3C, 12px 12px #D8234A;
  text-align: left;
}

#name span {
  display: inline-block;
  text-transform: uppercase;
}

#name.safe span {
  font-family: 'Montserrat' !important;
}

.top-links {
  position: relative;
  background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
  padding-bottom: 100px;
  z-index: 60;
}

.top-link {
  display: inline-block;
  margin: 20px 5px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid white;
  padding: 8px 16px;
  opacity: .75;
}

.top-link:hover {
  opacity: 1;
}

#music {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
