@font-face {
    font-family: 'Helvetica83';
    src: url('HelveticaNeueLTStd-HvEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-HvEx.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

